.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form{
    border: .5px solid lightslategrey;
    padding: 30px;
    border-radius: 10px;
}